<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rk.dao.CailiaotypebMapper">
  <resultMap id="BaseResultMap" type="com.rk.entity.Cailiaotypeb">
    <id column="cltypeid" jdbcType="INTEGER" property="cltypeid" />
    <result column="cltypename" jdbcType="VARCHAR" property="cltypename" />
  </resultMap>
  <sql id="Base_Column_List">
    cltypeid, cltypename
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cailiaotypeb
    where cltypeid = #{cltypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cailiaotypeb
    where cltypeid = #{cltypeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rk.entity.Cailiaotypeb">
    insert into cailiaotypeb (cltypeid, cltypename)
    values (#{cltypeid,jdbcType=INTEGER}, #{cltypename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rk.entity.Cailiaotypeb">
    insert into cailiaotypeb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cltypeid != null">
        cltypeid,
      </if>
      <if test="cltypename != null">
        cltypename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cltypeid != null">
        #{cltypeid,jdbcType=INTEGER},
      </if>
      <if test="cltypename != null">
        #{cltypename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rk.entity.Cailiaotypeb">
    update cailiaotypeb
    <set>
      <if test="cltypename != null">
        cltypename = #{cltypename,jdbcType=VARCHAR},
      </if>
    </set>
    where cltypeid = #{cltypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rk.entity.Cailiaotypeb">
    update cailiaotypeb
    set cltypename = #{cltypename,jdbcType=VARCHAR}
    where cltypeid = #{cltypeid,jdbcType=INTEGER}
  </update>
</mapper>