<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rk.dao.JiwangshibMapper">
  <resultMap id="BaseResultMap" type="com.rk.entity.Jiwangshib">
    <id column="jwsid" jdbcType="INTEGER" property="jwsid" />
    <result column="jwsms" jdbcType="VARCHAR" property="jwsms" />
  </resultMap>
  <sql id="Base_Column_List">
    jwsid, jwsms
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jiwangshib
    where jwsid = #{jwsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jiwangshib
    where jwsid = #{jwsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rk.entity.Jiwangshib">
    insert into jiwangshib (jwsid, jwsms)
    values (#{jwsid,jdbcType=INTEGER}, #{jwsms,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rk.entity.Jiwangshib">
    insert into jiwangshib
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jwsid != null">
        jwsid,
      </if>
      <if test="jwsms != null">
        jwsms,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jwsid != null">
        #{jwsid,jdbcType=INTEGER},
      </if>
      <if test="jwsms != null">
        #{jwsms,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rk.entity.Jiwangshib">
    update jiwangshib
    <set>
      <if test="jwsms != null">
        jwsms = #{jwsms,jdbcType=VARCHAR},
      </if>
    </set>
    where jwsid = #{jwsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rk.entity.Jiwangshib">
    update jiwangshib
    set jwsms = #{jwsms,jdbcType=VARCHAR}
    where jwsid = #{jwsid,jdbcType=INTEGER}
  </update>
</mapper>