<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rk.dao.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.rk.entity.Resource">
    <id column="resourceid" jdbcType="INTEGER" property="resourceid" />
    <result column="resourcename" jdbcType="VARCHAR" property="resourcename" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
  </resultMap>
  <sql id="Base_Column_List">
    resourceid, resourcename, url, status, parentid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from resource
    where resourceid = #{resourceid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from resource
    where resourceid = #{resourceid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rk.entity.Resource">
    insert into resource (resourceid, resourcename, url, 
      status, parentid)
    values (#{resourceid,jdbcType=INTEGER}, #{resourcename,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rk.entity.Resource">
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resourceid != null">
        resourceid,
      </if>
      <if test="resourcename != null">
        resourcename,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resourceid != null">
        #{resourceid,jdbcType=INTEGER},
      </if>
      <if test="resourcename != null">
        #{resourcename,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rk.entity.Resource">
    update resource
    <set>
      <if test="resourcename != null">
        resourcename = #{resourcename,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
    </set>
    where resourceid = #{resourceid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rk.entity.Resource">
    update resource
    set resourcename = #{resourcename,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      parentid = #{parentid,jdbcType=INTEGER}
    where resourceid = #{resourceid,jdbcType=INTEGER}
  </update>
</mapper>